<app-nav-bar></app-nav-bar>

<article>

    <section routerLink="/coffees">
        <div class="card-img"> <img src="../../../assets/coffees.jpg" alt="cup of coffee"> </div>
        <div class="card-contint">
            <h1>All Coffees</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu tellus laoreet, volutpat sem eget, viverra eros. Integer fringilla nulla sodales, sollicitudin lorem quis, finibus nisl. Vestibulum nisl purus, aliquam vel venenatis nec, molestie eget nisi.</p>
        </div>
    </section>
    
    <section routerLink="/random-coffee">
        <div class="card-img"> <img src="../../../assets/random-coffee.jpg" alt="coffee maker"> </div>
        <div class="card-contint">
            <h1>Random Coffee</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu tellus laoreet, volutpat sem eget, viverra eros. Integer fringilla nulla sodales, sollicitudin lorem quis, finibus nisl. Vestibulum nisl purus, aliquam vel venenatis nec, molestie eget nisi.</p>
        </div>
    </section>
    
    <section routerLink="/new-coffee">
        <div class="card-img"> <img src="../../../assets/new-coffee.jpg" alt="Ground coffee"> </div>
        <div class="card-contint">
            <h1>New Coffee</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu tellus laoreet, volutpat sem eget, viverra eros. Integer fringilla nulla sodales, sollicitudin lorem quis, finibus nisl. Vestibulum nisl purus, aliquam vel venenatis nec, molestie eget nisi.</p>
        </div>
    </section>

</article>
